<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Customer details</title>
</head>
<body>
<h2 >Add new customer details </h2>
<div >
    <div >
        <div>
            <h3>
            <form action="#" method="post" th:action="@{/}" th:object="${customer}">
                <div style="border: 1px;">
                    <div  >
                        <label for="firstName">First Name</label>
                        <input type="text" style="width: 300px;"  th:field="*{firstName}" id="firstName" placeholder="firstName">
                    </div>
                    <div >
                        <label for="lastName" >Last Name</label>
                        <input type="text" style="width: 300px;" th:field="*{lastName}" id="lastName" placeholder="lastName">
                    </div>
                    <div >
                        <label for="dateOfBirth" >Date Of Birth</label>
                        <input type="text" style="width: 300px;" th:field="*{{dateOfBirth}}" id="dateOfBirth" placeholder="yyyy-mm-dd">
                    </div>
                    <div >
                        <label for="policyNumber" >Policy Number</label>
                        <input type="text" style="width: 300px;" th:field="*{policyNumber}" id="policyNumber" placeholder="policyNumber">
                    </div>
                    <div >
                        <label for="address" >Address</label>
                        <input type="text" style="width: 300px;" th:field="*{address}" id="address" placeholder="address">
                    </div>
                    <div >
                        <label for="postCode" >Post Code</label>
                        <input type="text" style="width: 300px;" th:field="*{postCode}" id="postCode" placeholder="postCode">
                    </div>
                </div>
                <div >
                    <div >
                        <input type="submit" value="Submit">
                    </div>
                </div>
            </form>
            </h3>
        </div>
    </div>
</div>
</body>
</html>